.r1{

	padding: 0px;
}

.azx{
	height: 50px;
	
}

.r4{
	padding-top: 0px;
	
}
.r4 td
{

padding-top: 10px;
}
.az
{
background-color:#E0E0F7;
}
.azy
{
	background-color: white;
	height: 300px;

}
.n{
	background-color: white;
	height: 100px;
}
